body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div.banner h1 {
    font-size: 30pt;
    font-weight: 400;
    margin-left: 30px;
    margin-top: 10px;
}

div.banner div.message {
    color: black;
    font-size: 12pt;
    font-weight: 200;
    margin-left: 60px;
    margin-top: 10px;
}

.summary {
    font-weight: 200;
    font-size: 12pt;
}

.summary td {
    padding: 2px 2em;
    border-bottom: dashed #333 1px;
}

.summary thead {
    background-color: #ddd;
    font-weight: 400;
}