<!DOCTYPE html>
<html lang="en" ng-app="foodStandardsApp">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Angular Material style sheet -->
    <link href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.css" rel="stylesheet">
    <link href='foodstandards.css' rel='stylesheet'/>
    <meta charset="UTF-8">
    <title>Food Standards Checker</title>

</head>

<body layout="column" ng-controller="AppController as appCtrl">
<div ng-cloak>
    <md-autocomplete
            md-item-text="item.name"
            md-items="item in appCtrl.querySearch(appCtrl.searchText)"
            md-min-length="0"
            md-search-text="appCtrl.searchText"
            md-selected-item="appCtrl.selectedItem"
            md-selected-item-change="appCtrl.selectedItemChange(item)"
            placeholder="Authority Name?">
        <md-item-template>
            <span md-highlight-flags="^i" md-highlight-text="appCtrl.searchText">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
            No Authorities matching "{{appCtrl.searchText}}" were found.
        </md-not-found>
    </md-autocomplete>
</div>

<div layout="row" layout-align="space-around" layout-sm="column" ng-cloak ng-show="resultsLoading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>

<div class="banner" ng-cloak ng-show="ratingsData === undefined">
    <h1>Select an authority</h1>
    <div class="message">Search for an authority in the box above to display a summary of its ratings here.</div>
</div>

<div class="summary" ng-cloak ng-show="ratingsData">
    <table>
        <thead>
        <tr>
            <th>Rating</th>
            <th>Percentage</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rating in ratingsData.ratings">
            <td>{{rating.ratingLevel}}</td>
            <td>{{rating.establishmentCount / ratingsData.totalEstablishments | percentage:1}}</td>
        </tr>
        </tbody>
    </table>
    <div>Total establishements in {{appCtrl.selectedItem.name}}: {{ratingsData.totalEstablishments}}</div>
</div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>


<script src="javascript/app.js"></script>
<script src="javascript/appcontroller.js"></script>
<script src="javascript/services.js"></script>
</body>
</html>